<mat-toolbar color="primary" class="toolbar">
    <span>School Name</span>
    <span class="spacer"></span>
    <div *ngIf="data.user.role==4">
        <button mat-button (click)="navAddUsers()">
            <span class="material-icons">people </span>
            Add users
        </button>
    </div>
    <div *ngIf="data.user.role==4">
        <button mat-button (click)="navCreateClass()">
            <span class="material-icons">group_work </span>
            Create class
        </button>
    </div>
    <div *ngIf="data.user.role==4">
        <button mat-button (click)="navAddLesson()">
            <span class="material-icons"> post_add </span>
            Add lesson
        </button>
    </div>
    <div *ngIf="data.user.role==2">
        <button mat-button (click)="navTimetable()">
            <span class="material-icons"> date_range </span>
            Timetable & Lessons
        </button>
    </div>
    <div *ngIf="data.user.role==1 || data.user.role==0">
        <button mat-button (click)="navTimetable()">
            <span class="material-icons"> date_range </span>
            Timetable
        </button>
    </div>
    <div *ngIf="data.user.role==0 || data.user.role==1 || data.user.role==2">
        <button mat-button (click)="navMarksAndFrequency()">
            <span class="material-icons"> filter_5 </span>
            Marks & Frequency
        </button>
    </div>
    <div *ngIf="data.user.id>0">
        <button mat-button (click)="logOut()">
            <span class="material-icons"> logout </span>
            Log Out
        </button>
    </div>
</mat-toolbar>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>