<mat-toolbar color="primary">
    <span>School Name</span>
    <span class="spacer"></span>
    <div>
        <button mat-button (click)="navUsers()">
      <span class="material-icons">people </span>
      Users
    </button>
    </div>
    <div>
        <button mat-button (click)="navClasses()">
      <span class="material-icons">group_work </span>
      Classes
    </button>
    </div>
    <div>
        <button mat-button (click)="navSubjects()">
      <span class="material-icons"> date_range </span>
      Subjects
    </button>
    </div>
    <div>
        <button mat-button (click)="logOut()">
    <span class="material-icons"> logout </span>
    Log Out
  </button>
    </div>
</mat-toolbar>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>