.space {
    min-width: 10px;
}

:host {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    margin-bottom: 10px;
}

.space {
    margin-left: 10px;
}

.numeration {
    font-weight: bold;
    font-size: larger;
}

.add {
    margin-top: 10px;
}